<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (tag(); as tagRef) {
      <div>
        <h2 data-cy="tagDetailsHeading"><span>Tag</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>Código</span></dt>
          <dd>
            <span>{{ tagRef.id }}</span>
          </dd>
          <dt><span>Name</span></dt>
          <dd>
            <span>{{ tagRef.name }}</span>
          </dd>
          <dt><span>Entry</span></dt>
          <dd>
            @for (entry of tagRef.entries; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/post', entry.id, 'view']">{{ entry?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Voltar</span>
        </button>

        <button type="button" [routerLink]="['/tag', tagRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
        </button>
      </div>
    }
  </div>
</div>
