<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (studentIdCard(); as studentIdCardRef) {
      <div>
        <h2 data-cy="studentIdCardDetailsHeading"><span>Student Id Card</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ studentIdCardRef.id }}</span>
          </dd>
          <dt><span>Card Number</span></dt>
          <dd>
            <span>{{ studentIdCardRef.cardNumber }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/student-id-card', studentIdCardRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
