<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sign Up</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/a3de6dbf75.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header class="bg-gray-50 dark:bg-gray-900">
      <nav
        class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
        aria-label="Global"
      >
        <div class="flex lg:flex-1">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Wind</span>
            <i class="fas fa-gamepad fa-2x text-white"></i>
          </a>
        </div>
        <div class="flex lg:hidden">
          <button
            type="button"
            class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
          >
            <span class="sr-only">Open main menu</span>
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
              />
            </svg>
          </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
          <div class="relative">
            <button
              type="button"
              class="flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900 dark:text-white"
              aria-expanded="false"
            >
              Promoções
            </button>
            <div
              class="absolute -left-8 top-full z-10 mt-3 w-screen max-w-md overflow-hidden rounded-3xl bg-gray-50 dark:bg-gray-900 shadow-lg ring-1 ring-gray-900/5 opacity-100 translate-y-0"
            ></div>
          </div>

          <a href="/games" class="text-sm font-semibold leading-6 text-gray-900 dark:text-white"
            >Jogos</a
          >
          <a href="#" class="text-sm font-semibold leading-6 text-gray-900 dark:text-white"
            >Comunidade</a
          >
          <a href="#" class="text-sm font-semibold leading-6 text-gray-900 dark:text-white"
            >Sobre</a
          >
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
          <a href="/login" class="text-sm font-semibold leading-6 text-gray-900 dark:text-white"
            >Log in <span aria-hidden="true">&rarr;</span></a
          >
        </div>
      </nav>
    </header>
    <div class="bg-[#111827] min-h-screen">
      <div class="mx-auto w-full h-full">
        <div
          class="relative isolate overflow-hidden bg-gray-900 lg:flex lg:gap-x-20 lg:pl-28 lg:pt-0 w-full h-full"
        >
          <div class="mx-auto max-w-md text-center lg:mx-0 lg:flex-auto lg:py-32 lg:text-left">
            <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">
              Mais de 5000 jogos<br />Bem-vindo a Wind GameStore.
            </h2>
            <p class="mt-6 text-lg leading-8 text-gray-300">
              Nossa loja de jogos fornece uma maneira de jogadores se conectarem, descobrirem e
              compartilharem jogos.
            </p>
            <div class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start">
              <a
                href="/signup"
                class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
                >Inscreva-se</a
              >
              <a href="#" class="text-sm font-semibold leading-6 text-white"
                >Saiba Mais <span aria-hidden="true">→</span></a
              >
            </div>
          </div>
          <div class="relative mt-16 h-80 lg:mt-8">
            <img
              class="absolute left-0 top-0 w-[34rem] max-w-none rounded-md bg-white/5 ring-1 ring-white/10 ml-40"
              src="https://preview.redd.it/paw7ezgkywh41.gif?width=256&auto=webp&s=a0830788d8312982a3ec0b094c74621912105918"
              alt="App screenshot"
              width="2000"
              height="1100"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
