<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Login</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<script
			src="https://kit.fontawesome.com/a3de6dbf75.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body class="bg-gray-50 dark:bg-gray-900">
		<div th:replace="~{fragments/header-home :: header}"></div>
		<div>
		</div>
<form th:action="@{/games/user-home}" method="get">
	<label for="search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
	<div class="flex relative gap-2">
			<div class="ml-10 absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
					<svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
					</svg>
			</div>
			<input type="search" id="search" name="search" class="ml-10 block w-[480px] p-2 pl-10 text-sm text-gray-900 border borderS-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Buscar jogos...">
			<button type="submit" class="text-white right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 fo cus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Buscar</button>
	</div>
</form>
		</div>
		<div class="grid grid-cols-7 gap-4 m-8 2xl:grid-cols-8">
		<div th:each="game : ${games}">
					<div 
						class="transition-all w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 hover:scale-105"
					>
					<div class="relative w-full h-full">
						<img
							th:src="${game.imageUrl}"
							class="p-2 rounded-t-lg min-w-[45px] h-64 2xl:h-[320px] object-contain"
							alt="product image"
						/>
						<p class="absolute bottom-4 right-4 bg-rose-900 px-4 text-white text-sm rounded-md" th:text="${game.platform}">Plataforma</p>
					</div>
						<div class="px-5 pb-5">
							<a href="#">
								<h5
									class="text-md 2xl:text-lg font-semibold tracking-tight text-gray-900 dark:text-white"
									th:text="${game.name}"
								>
									Nome 	
								</h5>
							</a>
							<div class="flex mt-4">
							<a
							th:href="@{/purchases/new(gameId=${game.id}, userId=${session.userId})}"
							class="focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center focus:ring-green-800 bg-green-700 dark:border-green-800 text-white hover:bg-green-800 mr-2 mb-2"
						>
						<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2 lucide lucide-shopping-cart"><circle cx="8" cy="21" r="1"/><circle cx="19" cy="21" r="1"/><path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"/></svg>
							<span class="text-md 2xl:text-lg" th:text="'R$ ' + ${game.price}">
								</span>
						</a>
						</div>
						</div>
					</div>				
				</a>
			</div>
		</div>
	</body>
</html>



