<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (blog(); as blogRef) {
      <div>
        <h2 data-cy="blogDetailsHeading"><span>Blog</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>Código</span></dt>
          <dd>
            <span>{{ blogRef.id }}</span>
          </dd>
          <dt><span>Name</span></dt>
          <dd>
            <span>{{ blogRef.name }}</span>
          </dd>
          <dt><span>Handle</span></dt>
          <dd>
            <span>{{ blogRef.handle }}</span>
          </dd>
          <dt><span>User</span></dt>
          <dd>
            <span>{{ blogRef.user?.login }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Voltar</span>
        </button>

        <button type="button" [routerLink]="['/blog', blogRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
        </button>
      </div>
    }
  </div>
</div>
