<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (student(); as studentRef) {
      <div>
        <h2 data-cy="studentDetailsHeading"><span>Student</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ studentRef.id }}</span>
          </dd>
          <dt><span>First Name</span></dt>
          <dd>
            <span>{{ studentRef.firstName }}</span>
          </dd>
          <dt><span>Last Name</span></dt>
          <dd>
            <span>{{ studentRef.lastName }}</span>
          </dd>
          <dt><span>Email</span></dt>
          <dd>
            <span>{{ studentRef.email }}</span>
          </dd>
          <dt><span>Age</span></dt>
          <dd>
            <span>{{ studentRef.age }}</span>
          </dd>
          <dt><span>Student Id Card</span></dt>
          <dd>
            @if (student()!.studentIdCard) {
              <div>
                <a [routerLink]="['/student-id-card', student()!.studentIdCard?.id, 'view']">{{ studentRef.studentIdCard?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/student', studentRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
